{% if "namespace" in poco %}
package {{ poco.namespace }}
{%- endif %}

type {{ poco.name }} struct {
{% for prop in poco.props %}
	{{ prop.goname }} {{ prop.type }} `json:"{{ prop.name }}"`
{%- endfor %}
}

