
interface {{ poco.name }}Interface {
{% for prop in poco.props %}
	{{ prop.name }}: {{ prop.type }};
{%- endfor %}
}

{% if "description" in poco %}
/**
 * {{ poco.description }}
 */
{%- endif %}
const {{ poco.name }} : {{ poco.name }}Interface = {
{% for prop in poco.props if "default" in prop %}
	{{ prop.raw_name }}: {{ prop.default }},
{%- endfor %}
}

export default {{ poco.name }};

