<php declare(strict_types=1);

{% if "description" in poco %}
/**
 * {{ poco.description }}
 */
{%- endif %}
class {{ poco.name }} {
{% for prop in poco.props %}
	public ${{ prop.name }};
{%- endfor %}
}

